@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,700';
@font-face {
  font-family: 'Josefin Sans', sans-serif;
  src: url(fonts/josefin-sans_[allfont.ru].ttf); }

@font-face {
  font-family: 'Josefin Sans';
  src: url(fonts/josefin-sans-bold_[allfont.ru].ttf);
  font-weight: bold; }

body {
  margin: 0 auto; }

section {
  width: 100%;
  margin: 0; }

.ba-section--header {
  text-align: center;
  display: block;
  margin: auto;
  background-size: cover;
  background-image: url("img/header.png");
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  min-height: 100vh; }

.ba-container {
  display: block;
  width: 1110px;
  height: 100%;
  margin: auto;
  text-align: center;
  position: relative; }

.box-header {
  min-height: 100vh;
  margin: 0 auto;
  position: relative; }

.title {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 48px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 800;
  line-height: 26px;
  /* Приближение из-за подстановки шрифтов */
  position: absolute;
  text-transform: uppercase;
  margin: 0;
  top: 265px;
  left: 400px;
  letter-spacing: 2px; }
  .title__description {
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-size: 22px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 15px;
    /* Приближение из-за подстановки шрифтов */
    position: absolute;
    top: 300px;
    left: 400px;
    letter-spacing: 5px; }

.search {
  position: relative;
  background-color: #ffffff;
  width: 650px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 390px;
  left: 230px; }
  .search__input {
    background-color: #ffffff;
    width: 500px;
    height: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    text-align: center; }
  .search__btn {
    border: none;
    background-color: #5474fd;
    width: 146px;
    height: 56px;
    border: 2px solid #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2px;
    margin-left: 3px;
    color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 56px;
    /* Приближение из-за подстановки шрифтов */
    text-transform: uppercase; }
  .search__icon {
    display: block;
    margin-left: 10px;
    margin-top: 6px;
    padding: 0;
    width: 10px;
    height: 10px; }

.text-scroll {
  position: absolute;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 26px;
  /* Приближение из-за подстановки шрифтов */
  letter-spacing: 2px;
  left: 510px;
  top: 570px; }

.icon-scroll {
  position: absolute;
  display: block;
  width: 15px;
  height: 8px;
  top: 605px;
  left: 543px; }

.ba-nav {
  display: block;
  position: relative;
  background-color: #5474fd;
  width: 100%;
  height: 80px; }

.nav-logo {
  position: absolute;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 80px;
  /* Приближение из-за подстановки шрифтов */
  letter-spacing: 2px;
  left: 0;
  display: block; }

.nav-menu {
  position: absolute;
  float: right;
  list-style: none;
  padding-left: 0;
  margin: 0;
  top: 30px;
  right: 0; }

.nav-menu__item {
  display: inline-block; }

.nav-menu:last-child {
  margin-right: -40px; }

.nav-item__word {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 26px;
  /* Приближение из-за подстановки шрифтов */
  text-transform: uppercase;
  display: inline-block;
  margin-right: 40px;
  border: 1px solid transparent;
  padding: 2px; }

.nav-item__word:hover {
  border-bottom: 1px solid #ffffff;
  padding: 2px; }

.ba-section--advantages {
  background-image: url("img/advantages.png");
  background-repeat: no-repeat;
  position: relative;
  display: block;
  width: 100%;
  height: 685px;
  background-size: cover; }

.box-info {
  text-align: left;
  width: 541px; }
  .box-info__title {
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-size: 36px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px;
    /* Приближение из-за подстановки шрифтов */
    position: absolute;
    margin: 0;
    top: 203px;
    letter-spacing: 2px; }
  .box-info__content {
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    position: absolute;
    margin: 0;
    letter-spacing: 2px;
    top: 298px;
    display: block;
    width: 541px; }
  .box-info__button {
    color: #ffffff;
    background-color: #5474fd;
    width: 225px;
    height: 60px;
    text-transform: uppercase;
    border: none;
    letter-spacing: 2px;
    top: 490px;
    position: absolute; }
  .box-info__button:hover {
    background-color: #437223; }
  .box-info__picture {
    position: absolute;
    display: block;
    top: 119px;
    right: 124px; }
  .box-info__picture--right {
    top: 343px;
    right: 0; }

.ba-section--work {
  background-color: #333333;
  width: 100%;
  height: 337px;
  background-size: cover; }

.box-icon {
  width: 980px;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 65px; }
  .box-icon__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 250px;
    height: 160px;
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 36px;
    /* Приближение из-за подстановки шрифтов */
    line-height: 26px;
    /* Приближение из-за подстановки шрифтов */
    margin-top: 100px; }
  .box-icon__icon {
    width: 60px;
    height: 60px;
    margin-left: 90px; }
  .box-icon__text {
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 36px;
    /* Приближение из-за подстановки шрифтов */
    line-height: 26px;
    /* Приближение из-за подстановки шрифтов */ }
