@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,700';
$font-family-text: 'Josefin Sans', sans-serif;

@font-face {
	font-family: 'Josefin Sans', sans-serif;
	src: url(fonts/josefin-sans_[allfont.ru].ttf);
}

@font-face {
	font-family: 'Josefin Sans';
	src: url(fonts/josefin-sans-bold_[allfont.ru].ttf);
	font-weight: bold;
	
}


body {
	margin: 0 auto;
}

section {
	width: 100%;
	margin: 0;	
}
.ba-section--header {
	text-align: center;
	display: block;	
	margin: auto;
	background-size: cover;
	background-image: url("img/header.png");
	background-repeat: no-repeat;
	width: 100%;
	position: relative;	
	min-height: 100vh;	
}

.ba-container {
	display: block;
	width: 1110px;
	height: 100%;
	margin: auto;
	// border: 1px solid #ffffff;
	text-align: center;
	position: relative;

}

.box-header {
	
	min-height: 100vh;
	margin: 0 auto;
	position: relative;	
}

.title {
	font-family: $font-family-text;
	color: #ffffff;
    font-size: 48px;/* Приближение из-за подстановки шрифтов */
    font-weight: 800;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    position: absolute;
    text-transform: uppercase;
    margin: 0; 
    top: 265px;
    left: 400px;
    letter-spacing: 2px;

    &__description {
        font-family: $font-family-text;
        color: #ffffff;
        font-size: 22px;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 15px;/* Приближение из-за подстановки шрифтов */
        position: absolute;
        top: 300px;
        left: 400px;
        letter-spacing: 5px;	
}

}

.search {
	position: relative;
	background-color: #ffffff;
	width: 650px;
	height: 60px;
	display: flex;
	top: 390px;
	left: 230px;


	&__input {
		background-color: #ffffff;
		width: 500px;
		height: 60px;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		border: none;
		text-align: center;


	}

	&__btn {
		border: none;
		background-color: #5474fd;
		width: 146px;
		height: 56px;
		border: 2px solid #ffffff;
		display: flex;
		justify-content: center;
		margin-top: 2px;
		margin-left: 3px;
		color: #ffffff;
		font-family: $font-family-text;
        font-size: 14px;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 56px;/* Приближение из-за подстановки шрифтов */
        text-transform: uppercase;

}
&__icon {
	display: block;
	margin-left: 10px;
	margin-top: 6px;
	padding: 0;
	width: 10px;
	height: 10px;

}

}

.text-scroll {
	position: absolute;
	font-family: $font-family-text;
	color: #ffffff;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    letter-spacing: 2px;
    left: 510px;
    top: 570px;
}

.icon-scroll {
	position: absolute;
	display: block;
	width: 15px;
	height: 8px;
	top: 605px;
	left: 543px;
	
}

.ba-nav {
	display: block;
	position: relative;
	background-color: #5474fd;
	width: 100%;
	height: 80px;		
}

.nav-logo {
	position: absolute;
	color: #ffffff;
	text-transform: uppercase;
	font-family: $font-family-text;
	font-size: 24px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
    line-height: 80px;/* Приближение из-за подстановки шрифтов */
    letter-spacing: 2px;
    left: 0;
    display: block;


}

.nav-menu {
	position: absolute;
	float: right;
	list-style: none;
	padding-left: 0;
	margin: 0;
	top: 30px;
	right: 0;
	
	
}

.nav-menu__item {
	display: inline-block;
	
}

.nav-menu:last-child {
	margin-right: -40px;
}

.nav-item__word {
	text-decoration: none;
	color:  #ffffff;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-transform: uppercase;
    display: inline-block;
    margin-right: 40px;
    border: 1px solid transparent;
    padding: 2px;
}

.nav-item__word:hover {
	border-bottom: 1px solid #ffffff; 
	padding: 2px;  
}

.ba-section--advantages {
	background-image: url("img/advantages.png");
	background-repeat: no-repeat;
	position: relative;
	display: block;
	width: 100%;
	height: 685px;
	background-size: cover;
}

.box-info {
	text-align: left;	
	width: 541px;


	&__title {
		font-family: $font-family-text;
		color: #ffffff;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    position: absolute;
    margin: 0; 
    top: 203px;
    letter-spacing: 2px;
    

}

&__content {
	font-family: $font-family-text;
	color: #ffffff;
	font-weight: 400;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	position: absolute;
	margin: 0;
	letter-spacing: 2px;
	top: 298px;
	display: block;
	width: 541px;
}

&__button {
	color: #ffffff;
	background-color: #5474fd;
	width: 225px;
	height: 60px;
	text-transform: uppercase;
	border: none;
	letter-spacing: 2px;
	top: 490px;
	position: absolute;
	
}

&__button:hover {
	background-color: #437223;
	
}

&__picture {
	position: absolute;
	display: block;
	top: 119px;
	right: 124px;	
}

&__picture--right {
	top: 343px;
	right: 0;
	
}
}


.ba-section--work {
	background-color: #333333;
	width: 100%;
	height: 337px;
	background-size: cover;
	
}

.box-icon {
	width: 980px;
	height: 330px;
	display: flex;
	justify-content: space-between;
	margin-left: 65px;

	&__column {
		display: flex;
		flex-direction: column;
		width: 250px;
		height: 160px;
		font-family: $font-family-text;
		color: #ffffff;
		font-weight: 400;
	    font-size: 36px;/* Приближение из-за подстановки шрифтов */
	    line-height: 26px;/* Приближение из-за подстановки шрифтов */
	    margin-top: 100px;
	
	
}

&__icon {
	width: 60px;
	height: 60px;
	margin-left: 90px;
	
}

&__text {
	font-family: $font-family-text;
	color: #ffffff;
	font-weight: 400;
	font-size: 36px;/* Приближение из-за подстановки шрифтов */
	line-height: 26px;/* Приближение из-за подстановки шрифтов */	
	
}

}



.ba-section--spain {
	background-image: url("img/spain.png");
	background-repeat: no-repeat;
	position: relative;
	display: block;
	width: 100%;
	height: 700px;
	background-size: cover;
	
}

.box-content {
	width: 540px;
	height: 370px;
	display: block;
	position: absolute;
	text-align: left;
	color: #ffffff;	
	font-family: $font-family-text;
	
}

.box-content__square {
	opacity: 0.8;
	background-color: #131313;
	position: absolute;
	margin-top: 230px;
	
	
	
	
	
	
}

.box-content__coyntry {
	font-weight: 400;
	font-size: 20px;/* Приближение из-за подстановки шрифтов */
	line-height: 26px;/* Приближение из-за подстановки шрифтов */
	letter-spacing: 2px;
	margin-top: 278px;	
	left: 30px;
}

.box-content__title {
	font-weight: 400;
	font-size: 20px;/* Приближение из-за подстановки шрифтов */
	line-height: 26px;/* Приближение из-за подстановки шрифтов */
	margin-top: 327px;	
	left: 30px;
	text-transform: uppercase;
	
}

.box-content__text {
	margin-top: 370px;
	left: 30px;
	width: 490px;
	height: 73px;
	font-weight: 400;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	line-height: 26px;/* Приближение из-за подстановки шрифтов */	
}

.box-content__button {
	width: 225px;
	height: 60px;
	background-color: #496bfe;
	position: absolute;
	left: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: none;
	top: 490px;	
}

.ba-section--spain2 {
	background-image: url("img/spain img.png");
	background-repeat: no-repeat;
	position: relative;
	display: block;
	width: 100%;
	height: 700px;
	background-size: cover;
	
}

.box-content--right {
	color: #ffffff;
	right: 0;
}


.ba-section--testimonial {
	background-image: url("img/testimonial.png");
	background-repeat: no-repeat;
	position: relative;
	display: block;
	width: 100%;
	height: 730px;
	background-size: cover;
	
}

.box-quote__title {
	font-family: $font-family-text;
	color: #ffffff;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    position: absolute;
    margin: 0; 
    top: 115px;
	display: block;
	width: 1110px;
    letter-spacing: 2px;
}


.box-quote {
	display: flex;
	width: 1110px;
	height: 280px;
	top: 245px;
	position: absolute;
	
}

.box-quote__image {
	background: url("img/testimonial-small.png");
	display: flex;
	width: 444px;
	height: 280px;
	
}

.box-quote__content {
	display: flex;
	width: 666px;
	height: 280px;
	flex-direction: column;
	text-align: left;
	font-family: $font-family-text;
	color: #ffffff;
	padding-left: 60px;
	background-color: #333333;
	
}

.box-quote__autor {
	text-transform: uppercase;
	font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;	
}

.box-quote__text {
	font-weight: 400;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	line-height: 26px;/* Приближение из-за подстановки шрифтов */
	width: 575px;
}

.blockquote {
background: #333333;
margin-left: 0;
font-size: 16px;
quotes: "\201C""\201D""\2018""\2019";
}
.blockquote:before {
color: #5474fd;
content: open-quote;
font-size: 6em;
line-height: 0.1em;
margin-right: 5px;
vertical-align: -0.4em;
}
.blockquote p {
display: inline;
}


.ba-section--footer {
	background-color: #232323;
	position: relative;
	display: block;
	width: 100%;
	height: 270px;
	text-align: center;
	
}

.box-social {
	position: absolute;

	
	
}

.title--footer {
	font-size: 24px;
	top: 115px;	
	letter-spacing: 4px;
	display: block;
	width: 1110px;
	left: 0;
	text-align: center;
	position: absolute;
}

.title__description--footer {
	font-size: 16px;
	top: 135px;
	letter-spacing: 1px;
	display: block;
	width: 1110px;
	left: -3px;	
	position: absolute;
}




















